{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2 class="mb-4">Home</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% for option in options %}
    <div class="col">
        <div class="card h-100">
            <img src="{% static option.image %}" class="card-img-top img-fluid" alt="{{ option.title }}" style="aspect-ratio: 4 / 3; object-fit: cover;">
            <div class="card-body text-center">
                <h5 class="card-title">{{ option.title }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
